.centered {
  text-align: center;
  display: flex;
  flex: auto;
  flex-direction: column;
}

.headingPL {
  padding-left: 3%;
}

.buttonMarginR {
  margin-right: 10%;
}

.flexDisplay {
  display: flex;
}

.flexAlign {
  flex-grow: 1;
}

.addCommand {
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  margin-top: 0.1rem;
}

.addCommand:hover {
  color: gray;
}

.hkcGBu {
  overflow: visible !important;
}

.edTgaw div:first-child {
  text-align: left;
  white-space: unset !important;
}
