button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.divTextCenter {
  text-align: center;
}

.formMargin {
  margin-top: 2%;
}

.modalWidth {
  width: 55%;
  max-width: 55%;
}
