#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

body.sb-sidenav-toggled #sidebar-wrapper {
  margin-left: 0;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

.list-mp {
  padding: 0;
  margin: 0;
}

.iconMargin {
  margin: 0 0.5rem 0.3rem 0;
}

ul li {
  border-top: 0 !important;
  border-right: 0 !important;
  cursor: pointer;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  body.sb-sidenav-toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
