.createGiveaway,
.addKey {
  font-size: x-large;
  font-weight: bold;
}

.formAdjust {
  width: 70%;
  margin: 2% 15% 0 15%;
}

.createGiveawayBtn,
.addKeyBtn {
  width: 50%;
  margin: 0 25% 0 25%;
}

.rdtSwitch:hover {
  background: #eeeeee;
  cursor: pointer;
}

.noty_layout {
  margin-top: 2% !important;
}

.form-switch {
  float: left;
}
