.createGiveaway,
.addKey {
  font-size: x-large;
  font-weight: bold;
}

.addKey {
  margin-top: 3%;
}

.formAdjust {
  width: 70%;
  margin: 2% 15% 0 15%;
}

.createGiveawayBtn {
  width: 50%;
  margin: 0 25% 0 25%;
}
